
.modal-dialog{
	width: 1200px;
}

.modal-dialog .modal-content .modal-body{
	max-height: 800px;
	display: flex;
	justify-content: space-around;
}

.clearfix{
	display: flex;
	flex-direction: column;
}

.updateform .form-group{
	width: unset;
	padding: 10px 0;
	display: table;
	
}

.form-group label{
	max-width: 120px;
}


#mapid{
	width: 700px;
	height: 700px;
	/* background-color: #0000FF; */
}


.form-label{
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

.form-label a{
	font-weight: unset;
	font-size: 13px;
	margin-left: 20px;
	border: 1px solid #CCCCCC;
	padding: 8px 10px;
	display: block;
}

.form-box{
	width: 435px;
}

.point-list-box{
	margin-top: 10px;
}

.point-list{
	margin-top: 15px;
}

.plan-modal{
	flex-direction: column;
}

.plan{
	display: flex;
	justify-content: space-between;
}

.plan-1,.plan-2,.plan-3{
	width: 400px;
	padding: 0 20px;
	box-sizing: border-box;
}

.plan-2-2,.plan-3-2{
	margin-top: 20px;
}