
label{
	color: #000000 !important;
}

.modal-dialog{
	width: 1200px;
}

.modal-dialog .modal-content .modal-body{
	max-height: 800px;
	display: flex;
	/* justify-content: space-around; */
}

.clearfix{
	display: flex;
	flex-direction: column;
}

.updateform .form-group{
	width: unset;
	padding: 10px 0;
	display: table;
	
}

.form-group label{
	max-width: 120px;
}


#mapid{
	width: 1100px;
	height: 560px;
	/* background-color: #0000FF; */
}


.form-label{
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.form-label a{
	font-weight: unset;
	font-size: 13px;
	margin-left: 20px;
	border: 1px solid #CCCCCC;
	padding: 8px 10px;
	display: block;
}

.form-box{
	width: 435px;
	padding: 0 10px;
	box-sizing: border-box;
}

.point-list-box{
	margin-top: 10px;
}

.point-list{
	margin-top: 15px;
}

.plan-modal{
	flex-direction: column;
}

.plan{
	display: flex;
	justify-content: space-between;
}

.plan-1,.plan-2,.plan-3{
	width: 400px;
	padding: 0 20px;
	box-sizing: border-box;
}

/* .plan-2-2,.plan-3-2{
	margin-top: 20px;
}
 */
.plan-cycle{
	background-color: rgb(206,219,222);
}

.plan-cycle-1{
	font-size: 20px;
	padding: 10px 20px;
}

.plan-cycle-2-1{
	display: flex;
}

.plan-cycle-2-1 label{
	color: #000000;
}

.plan-cycle-2-1>div{
	display: flex;
	align-items: center;
	margin: 0 40px;
	padding: 20px 0;
}

.plan-cycle-2-1>div input, .plan-cycle-2-2-2>div input, .time-box>div input{
	margin-left: 20px;
	background-color: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #dcdcdc !important;
}

.plan-cycle-2-2{
	background-color: #FFFFFF;
}

.plan-cycle-2-2-1{
	padding: 10px 20px;
	display: flex;
}

.plan-cycle-2-2-1 span{
	display: block;
	background-color: rgb(245,245,245);
	font-size: 15px;
	font-weight: bold;
	font-family: "microsoft yahei";
	padding: 5px 30px;
	margin: 0 2px;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	cursor: pointer;
}

.plan-cycle-2-2-1 span.active{
	background-color: rgb(255,255,255);
	border-top: 2px solid #000000;
}

.time-box ,.custom-content-1{
	display: flex;
}

.plan-cycle-2-2-2>div label{
	color: #000000;
}

.addPeople-dialog{
	width: 1000px;
}

.people-content-table table, .people-content-table table tr th, .people-content-table table tr td { border:1px solid #DCDCDC; }
.people-content-table table {text-align: center; border-collapse: collapse; padding:2px;}

.people-content-table table{
	width: 100%;
}


.people-content-table table th{
	text-align: center;
}

.people-content-table table input{
	width: 20px;
	height: 20px;
}


.time-box>div,.custom-content-1>div{
	margin: 0 40px;
	padding: 10px 0;
}

.week-content-1{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	border: 1px dashed #DCDCDC;
	border-radius: 5px;
}

.week-content-1 .title, .month-content-1 .title{
	font-size: 16px;
	font-weight: bold;
	margin-left: 20px;
}

.week-content-1 .list{
	display: flex;
	justify-content: space-around;
	
}

.week-content-1 .list span{
	display: block;
	padding: 5px 15px;
	border: 1px solid #DCDCDC;
	border-radius: 5px;
	margin-left: 50px;
	cursor: pointer;
}

.month-content-1{
	display: flex;
	align-items: flex-start;
	padding: 10px 20px;
	border: 1px dashed #DCDCDC;
	border-radius: 5px;
}

.month-content-1 .title{
	width: 80px;
}

.month-content-1 .list{
	display: flex;
	flex-wrap: wrap;
	width: 500px;
}

.month-content-1 .list span{
	display: block;
	width: 80px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #DCDCDC;
	cursor: pointer;
}

.custom-content-1{
	border: 1px dashed #DCDCDC;
}
	
.list span.active{
	background-color: rgb(245,245,245);
}

.time-box select{
	border: 1px solid #dcdcdc !important;
	border-radius: 4px;
}


/* route */
.route-modal-body{
	display: unset !important;
}

.route-form-box{
	width: 100%;
}
.route-form-1{
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: flex-start;
}

.route-form-1-1, .route-form-1-2{
	width: 400px;
}

.route-form-1-2{
	margin-top: 0;
}

.form-label{
	align-items: flex-start;
}

.map-box{
	margin: 0 auto;
}